{
    "semi": false,
    "useTabs": true,
    "tabWidth": 7,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "proseWrap": "preserve",
    "singleAttributePerLine": false
}